<!--...header and body content-->
<img class="img-responsive" src="/facebook/src/assets/image/Facebook.png">
        <h1>Facebook helps you connect and share with the people in your life.  </h1>
<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>

                <div class="field button-field">
                    <button>Login</button>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>
                <br> <hr> <br>
            </form>

            <div class="fields button-fields">
                <button><a routerLink="facebook-sign-up">Create New Account</a></button>
                <!-- <router-outlet></router-outlet> -->
            </div>

            
        </div>
    </div>
</section>